.loader-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  pointer-events: none;
}

.loader-group {
  padding: 2rem 0;
  color: red;
}

.loader {
  font-size: 5rem;
  transform-origin: center;
  animation: spin infinite 2s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
