.search-gallery-card-wrapper {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgb(200, 200, 200);
  position: relative;
  overflow: hidden;
}

.search-gallery-save {
  font-size: 2rem;
  padding: 0.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.search-gallery-save-label {
  font-size: 1.2rem;
}

.search-gallery-card-content-wrapper {
  padding: 0.8rem;
}

.search-gallery-card-images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: flex-start;
}

.search-gallary-card-image-wrapper {
  width: 8rem;
  height: 10rem;
  border-radius: 0.8rem;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}

.search-gallery-card-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-gallery-card-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0.5rem 0 0;
}

.search-gallery-card-title {
  font-weight: 700;
}

.search-gallery-card-year {
  font-style: italic;
}

@media screen and (min-width: 450px) {
  .search-gallery-card-content-wrapper {
    padding: 1.5rem;
  }
}
