.gallery-card-action-corner {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  top: -1.9rem;
  left: -2rem;
  line-height: 1;
  font-size: 0.9rem;
  color: var(--whitesmoke);
  background-color: rgb(10, 10, 10, 0.7);
  box-sizing: border-box;
  cursor: pointer;
  opacity: 1;
  transition: 200ms ease;
  border-radius: 5% 0 50%;
}

.gallery-card-action-corner svg {
  position: absolute;
  top: 58%;
  left: 58%;
}

.bottomLeft {
  position: absolute;
  bottom: -1.9rem;
  left: -2rem;
  top: auto;
  font-size: 1.2rem;
  border-radius: 0 50% 0 0;
}

.bottomLeft svg {
  position: absolute;
  top: 20%;
  left: 52%;
}
