.rag-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 3rem 0;
}

.rag-form {
  padding: 0;
  margin: 0;

  .rag-form textarea {
    border: 1px var(--dark-gray) solid;
  }
}

.rag-response {
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}

.rag-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
