.login-form {
  padding: 2rem 1rem 1rem;
  box-sizing: border-box;
}

.login-form-header {
  font-size: 2rem;
  font-weight: 700;
}

.login-signup-message a {
  color: var(--hot-pink);
}

.login-error {
  color: red;
  min-height: 1.5rem;
}
