.gallary-card-screen-full-view {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.gallery-card-nav-full-view {
  width: 100%;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
}

.gallery-card-close-full-view {
  font-size: 1.3rem;
  cursor: pointer;
}

.gallery-card-wrapper-full-view {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  position: relative;
  background-color: var(--whitesmoke);
}

.gallery-card-image-full-view {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.gallery-card-image-full-view img {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery-card-full-view-no-image {
  width: 15rem;
  height: 15rem;
  background-color: var(--night-gray-30);
  color: var(--night-gray-80);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.gallery-card-details-full-view {
  padding: 0;
  grid-template-columns: 1fr;
}

.gallery-card-defails-full-view-btns {
  font-size: 1.5rem;
  padding: 0.8rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;
}

.gallery-card-details-full-view-btns-outloud {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.gallery-card-details-full-view-btns-ask-artsy {
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
}

.gallery-card-content-wrapper-full-view {
  padding: 0 1rem 2rem;
}

.gallery-card-content-wrapper-full-view .gallery-card-title {
  font-weight: 700;
  font-size: 1.2em;
}

.gallery-card-content-wrapper-full-view .gallery-card-year {
  font-style: italic;
}

@media screen and (min-width: 500px) {
  .gallery-card-image-full-view {
    width: 60%;
  }
  .gallery-card-content-wrapper-full-view {
    padding: 0 2rem 2rem;
  }
}

@media screen and (min-width: 650px) {
  .gallery-card-wrapper-full-view {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .gallery-card-screen-full-view {
    padding: 2rem;
  }

  .gallery-card-wrapper-full-view {
    width: 50%;
  }
}
