form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

label {
  width: 100%;
  font-weight: 600;
  box-sizing: border-box;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

button {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1em;
  margin: 0.8rem 0;
  background-color: var(--dark-gray);
  color: var(--whitesmoke);
}

input,
textarea,
button {
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: inherit;
}
