.gallery-card-wrapper {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgb(200, 200, 200);
  position: relative;
  overflow: hidden;
}

.gallery-card-content-wrapper {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.gallery-card-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 0.8rem;
  overflow: hidden;
}

.gallery-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-card-details {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: stretch;
  gap: 1rem;
  margin: 0.5rem 0 0;
  font-size: 1rem;
}

.gallery-card-details-wrapper {
  width: 100%;
  height: 100%;
}

.gallery-card-details-play {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  line-height: 0;
  cursor: pointer;
}

.gallery-card-title {
  font-weight: 700;
}

.gallery-card-year {
  font-style: italic;
}

.gallery-card-wrapper:hover .gallery-card-action-corner {
  opacity: 1;
  pointer-events: auto;
}
