spring:
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI}

  # Disable JPA auto-configuration if you're only using MongoDB
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
