.search-forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.search-image-form,
.search-keywords-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0;
}

.search-header {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.search-input-group {
  width: 100%;
  max-width: 290px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--dark-gray);
  position: relative;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.search-input-group.camera {
  background-color: transparent;
}

.search-input-group.keywords {
  padding-right: 3rem;
}

.search-take-photo-icon {
  font-size: 2.8rem;
  cursor: pointer;
}

.search-image-form input,
.search-keywords-form input {
  background-color: var(--dark-gray);
  color: var(--whitesmoke);
  border: 1px var(--dark-gray) solid;
  padding: 0 1rem;
}

.search-image-form input:focus,
.search-keywords-form input:focus {
  outline: none;
}

.search-input-group button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  margin: 0;
  border: none;
  color: var(--whitesmoke);
  font-size: 1.5rem;
}

.search-image-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}
